@import url("/src/scss/styles.css");
$primary: #2d8cf9;
$secondary: #050330;
$accent: #4a45f4;
$gradientFontColor: #c3c3c3;

body {
    
}


#main-container {
    height: 80vh;
    display: grid;
    place-items: center;
    

    
}