$primary: #2d8cf9;
$secondary: #050330;
$accent: #4a45f4;
$gradientFontColor: #c3c3c3;

html {
    scroll-behavior: smooth;
    font-family: "Arial";
    height: 200vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

img {
    max-width: 100%;
    object-fit: contain;
}

@mixin gradientTextHero {
    background: #2D8CF9;
    background: linear-gradient(to right, #2D8CF9 19%, #4A45F4 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin heroButton {
    width: 150px;
    height: 40px;
    margin: 1rem;
    background: rgb(45,140,249);
    background: linear-gradient(126deg, rgba(45,140,249,1) 20%, rgba(74,69,244,1) 79%);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

@mixin sectionHeader {
    font-size: 3rem;
    background: #B2B4F4;
    background: linear-gradient(to right, #B2B4F4 22%, #2D8CF9 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    // margin-bottom: 10rem;

    #nav-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            font-size: 2rem;
            font-style: italic;
            font-weight: bolder;
        }

        h4 {
            color: #2D8CF9;

        }

    }


    ul {
        li {
            display: inline;
            padding: 1.5rem;

            button {
                padding: 0.5rem;
                width: 100px;
                background: rgb(45,140,249);
                background: linear-gradient(106deg, rgba(45,140,249,1) 20%, rgba(74,69,244,1) 79%);
                border: none;
                border-radius: 0.3rem;
                cursor: pointer;
            }
            
            a {
                text-decoration: none;
                color: white;
                font-size: 1rem;
            }
        }
    }

    #mobile-nav-btn {
        color: white;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        display: none;
    }
    
}



#hero-section {

    height: 600px;
    margin-inline: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: clamp(0.5rem, 1.5rem, 2.5rem);
    
    h1 {
        span {
            @include gradientTextHero()
        }

        font-size: 3rem;
    }

    #hero-btn {

        display: flex;
        
        button {
            @include heroButton()
        }

        #location-btn {
            background: transparent;
            border: 2px solid $accent;
        }
    }

    #hero-img {
        position: absolute;
        right: 20%;
        height: 100vh;
        z-index: -1;
        opacity: 0.3;
    }

}

#three-points {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
    margin-bottom: 3rem;


    section {
        background: rgb(45,140,249);
        background: linear-gradient(308deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%); 
        width: 400px;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.3rem;
        
        padding: 2.6rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        h1 {
            color: white;
        }

        color: $gradientFontColor;

        .icofont-heart-alt,
        .icofont-dumbbell,
        .icofont-fruits {
            font-size: 4rem;
        }
    }


    section:nth-of-type(2){
        background: rgb(45,140,249);
        background: linear-gradient(108deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%);
    }

    section:nth-of-type(3){
        background: rgb(45,140,249);
        background: linear-gradient(08deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%);
    }
    
}




#main-content {
    background: rgb(74,69,244);
    background: linear-gradient(121deg, rgba(74,69,244,1) 21%, rgba(5,3,48,1) 21%); 
    // height: 200vh
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5rem;
    padding: 3rem;

    article {
        margin-inline: 10%;
        // border: 2px solid re;
        display: flex;
        flex-direction: column;

        .gym-information {
            display: flex;
            padding: 2rem;
            gap: 2.5rem;
            

            img {
                height: 300px;
                border-radius: 1rem;
            }

            .key-description {
                display: flex;
                flex-direction: column;
                text-align: center;

                h1 {
                    @include sectionHeader();
                }
                
                p {
                    padding: 1rem;
                    line-height: 1.5;
                    font-size: 1.5rem;
                    font-weight: ligther;
                    color: white;
                }
            }
            
        }
    }
    
    
    .section-header {
        @include sectionHeader()
    }
    
}




@media (max-width: 950px) {
    #three-points {
        height: 150vh;
        flex-direction: column;
        justify-content: start;
        
        section {
            width: 100%;
            
        }
        
    }

    #main-content {
        article {
            .gym-information {
                flex-direction: column;
                gap: 4rem;
            }
        }
    }
}


@media (max-width: 768px) {
    #navbar {
        ul {
            display: none;
        }

        #mobile-nav-btn {
            display: block;
        }
    }

    #hero-section {
        text-align: center;
        
        // subheader text

        h1 {
            font-size: 3rem;
        }
        
        h4 {
            padding: 0.5rem;
            text-align: center;
        }

        #hero-btn {
            flex-direction: row;
            justify-content: center;
        }

        #hero-img {
            display: none;
        }
    }

    

    
}