$primary: #2d8cf9;
$secondary: #050330;
$accent: #4a45f4;
$gradientFontColor: #c3c3c3;

html {
    scroll-behavior: smooth;
    font-family: "Arial";
    height: 200vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

@mixin gradientTextHero {
    background: #2D8CF9;
    background: linear-gradient(to right, #2D8CF9 19%, #4A45F4 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin heroButton {
    width: 150px;
    height: 40px;
    margin: 1rem;
    background: rgb(45,140,249);
    background: linear-gradient(126deg, rgba(45,140,249,1) 20%, rgba(74,69,244,1) 79%);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;

    
}

@mixin sectionHeader {
    font-size: 3rem;
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    // margin-bottom: 10rem;

    #nav-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            font-size: 2rem;
            font-style: italic;
            font-weight: bolder;
        }

        h4 {
            color: #2D8CF9;

        }

    }


    ul {
        li {
            display: inline;
            padding: 1.5rem;

            button {
                padding: 0.5rem;
                width: 100px;
                background: rgb(45,140,249);
                background: linear-gradient(106deg, rgba(45,140,249,1) 20%, rgba(74,69,244,1) 79%);
                border: none;
                border-radius: 0.3rem;
                cursor: pointer;
            }
            
            a {
                text-decoration: none;
                color: white;
                font-size: 1rem;
            }
        }
    }

    #mobile-nav-btn {
        color: white;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        display: none;
    }
    
}



#hero-section {

    height: 600px;
    margin-inline: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: clamp(0.5rem, 1.5rem, 2.5rem);
    
    h1 {
        span {
            @include gradientTextHero()
        }

        font-size: 3rem;
    }

    #hero-btn {

        display: flex;
        
        button {
            @include heroButton();

            &:hover {
                height: 45px;
                width: 155px;
                transition: 250ms;
            }
            
        }
        
        #location-btn {
            background: transparent;
            border: 2px solid $accent;

            &:hover {
                background-color: $accent;
                transition: 250ms;
            }
        }
    }

    #hero-img {
        position: absolute;
        right: 20%;
        height: 100vh;
        z-index: -1;
        opacity: 0.3;
    }

}


#location-finder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    height: 100px;
    gap: 2rem;

    #location-input {
        height: 30px;
        width: 200px;
    }

    button {
        height: 40px;
        width: 200px;
        // padding: 0.5rem;
        background-color: $primary;
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: 250ms;

        &:hover {
            background-color: #333;
        }
    }
}




#three-points {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;


    section {
        background: rgb(45,140,249);
        background: linear-gradient(308deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%); 
        width: 400px;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.3rem;
        
        padding: 2.6rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        h1 {
            color: white;
        }

        color: $gradientFontColor;

        .icofont-heart-alt,
        .icofont-dumbbell,
        .icofont-fruits {
            font-size: 4rem;
        }
    }


    section:nth-of-type(2){
        background: rgb(45,140,249);
        background: linear-gradient(108deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%);
    }

    section:nth-of-type(3){
        background: rgb(45,140,249);
        background: linear-gradient(08deg, rgba(45,140,249,1) 6%, rgba(74,69,244,1) 30%);
    }
    
}




#main-content {
    background: rgb(5,3,48);
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10rem;
    padding: 4rem 1rem 1rem 1rem;
    margin-top: 5rem;
    padding: 3rem;

    h1  {
        font-size: 3rem;
        white-space: nowrap;
        background: #2D8CF9;
        background: linear-gradient(to right, #2D8CF9 0%, #FFFFFF 66%);
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;

        .offering {
            text-align: center;
            padding: 1rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            

            h2 {
                background: #2D8CF9;
                background: linear-gradient(to right, #2D8CF9 0%, #80AAFF 66%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 2rem;
            }

            button {
                padding: 0.5rem;
                font-size: 1.3rem;
                color: white;
                background-color: $accent;
                border: none;
                border-radius: .5rem;
                cursor: pointer;
                transition: 250ms;
                
                &:hover {
                    background-color: #333;
                }
            }

        }
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}



@media (max-width: 1024px) {
    #three-points {
        flex-direction: column;
        justify-content: start;
        
        section {
            width: 100%;
            
        }
        
    }

    #main-content {
        margin-top: 5rem;
        
        article {
            .gym-information {
                flex-direction: column;
                gap: 4rem;
                

                .key-description {
                    
                    p {
                        text-align: center;
                        font-size: 1.3rem;
                    }
                }
            }

        }
    }
}


@media (max-width: 768px) {
    #navbar {
        ul {
            display: none;
        }

        #mobile-nav-btn {
            display: block;
        }
    }

    #hero-section {
        text-align: center;
        
        // subheader text

        h1 {
            font-size: 3rem;
        }
        
        h4 {
            padding: 0.5rem;
            text-align: center;
        }

        #hero-btn {
            flex-direction: row;
            justify-content: center;
        }

        #hero-img {
            display: none;
        }
    }

    
    #main-content {
        margin-top: 5rem;
        
        article {
            .gym-information {
                flex-direction: column;
                gap: 4rem;
                

                .key-description {
                    
                    p {
                        font-size: 1.1rem;
                        
                    }
                    
                }
            }

        }
    }

    #location-finder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        background: rgb(70,74,79);
        background: linear-gradient(121deg, rgba(70,74,79,1) 0%, rgba(74,69,244,1) 66%);
        gap: 2rem;
    
        #location-input {
            height: 30px;
            width: 200px;
        }
    
        button {
            height: 40px;
            width: 100px;
            // padding: 0.5rem;
            background-color: $primary;
            color: white;
            font-size: 1rem;
            border-radius: 0.5rem;
            border: none;
            cursor: pointer;
            transition: 250ms;
    
            &:hover {
                background-color: #333;
            }
        }
    }
    
}